.etew6q6__contact_container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: auto;
}

.etew6q6 {
    height: 100%;
    background-color: #110a06;
    width: 100%;
}

.etew6q6__logo {
    width: 150px;
    background-image: url('../../im4ges/basic/logo.png');
    background-repeat: no-repeat;
    background-size: 150px;
    height: 150px;

    background-position: center;
    display: block;
}

.etew6q6__contact_item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.etew6q6__title {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    color: white;
    margin-bottom: 20px;
}

.etew6q6__link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.etew6q6__link:hover {
    color: rgb(197, 197, 197);

}

.etew6q6__contact_link {
    text-decoration: none;
    color: #ff4400;
    font-size: 20px;
}

.etew6q6__contact_link:hover {
    color: #cf3700;
}

.etew6q6__container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
    justify-content: center;
    gap: 50px;
}


.etew6q6__hours_container {
    display: flex;
    gap: 50px;
}

.etew6q6__hours_container_item {
    margin: 0;
    padding: 0;
}

.etew6q6__logo_container {
    width: fit-content;
    display: flex;
    align-items: center;
}

.etew6q6__contact_subtitle {
    margin: 0;
    font-size: 20px;
}

.etew6q6__links_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
}

.etew6q6__logo_name {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    .etew6q6__container {
        flex-wrap: wrap;
        padding: 0;
        gap: 50px;
        width: 100%;
        justify-content: center;
        padding: 25px 0;
    }

    .etew6q6__logo {
        width: 100px;
        background-size: 100px;
        height: 100px;
    }

    .etew6q6__logo_name {
        margin: 0;
        font-size: 30px;
    }

    .etew6q6__contact_container {
        width: 90%;
        align-items: center;
        margin: 0;
    }

    .etew6q6__title {
        text-align: center;
    }

    .etew6q6__links {
        height: 100%;
    }

    .etew6q6__links_container {
        align-items: center;
        gap: 20px;
        margin: 25px 0;
    }

    .etew6q6__logo_container {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .etew6q6__contact_subtitle {
        margin: 0;
        font-size: 15px;
    }

    .etew6q6__contact_link {
        font-size: 15px;
    }
}