.td6326__subtitle {
    font-size: 30px;
    font-weight: 100;
    width: fit-content;
    width: 100%;
    margin-bottom: 10px;
}

.td6326__link {
    color: white;
    font-weight: 600;
}

.td6326__link:hover {
    color: rgb(236, 236, 236);
}


.td6326__title {
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 600;
}

.td6326__main_title {
    font-size: 50px;
    font-weight: 100;
    width: fit-content;
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
    color: black;
    text-align: center;
}

.td6326__item {
    background-color: #ff4400;
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 20px;
}

.td6326__container {
    width: 90%;
    color: white;
    max-width: 1280px;
    margin: auto;
    padding-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    .td6326__subtitle {
        font-size: 20px;
    }

    .td6326__title {
        font-size: 25px;
    }

    .td6326__main_title {
        font-size: 20px;
    }

    .td6326__container {
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

    .td6326__subtitle {
        font-size: 25px;
    }

    .td6326__container__title {
        font-size: 25px;
    }

    .td6326__main_title {
        font-size: 50px;
    }

}